name: Go Tests

on:
  push:
    branches: [ main, readme, initial_test_run ]
  pull_request:
    branches: [ main, readme ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.21'

    - name: Run tests
      run: go test -v ./test
